body,
html,
#root {
	height: 100%;
}

html {
	font-size: 18px;
}

h1 {
	padding: 0.77rem 0;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 1.88rem;
	color: #fff;
}

h1 .highlight {
	color: #6c41ec;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-size: 1.55rem;
}

.topNav {
	background-color: #010c3f;
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
}

.profile {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.profileImage {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 10px;
}

.menu {
	color: white;
	position: absolute;
	right: 0;
	top: 40px;
	background-color: #010c3f;
	padding: 0 10px;
}

.menu li {
	padding: 10px;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.menu li:hover {
	text-decoration: underline;
}

.playlistsNumber {
	font-size: 16px;
	background-color: #6c41ec;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
}

.App {
	height: 100%;
	background-image: url("../../assets/background_photo_desktop.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	color: #fff;
}

.App-playlist {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

@media only screen and (max-width: 1020px) {
	.App-playlist {
		align-items: center;
		flex-direction: column;
	}
}
